<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Some person</title>
</head>
<body>

<b th:text="${person.getName() + ', ' + person.getDateOfBirth() + ', ID: ' + person.getPersonid()}">VALUE</b>

<!--If person have a book form-->
<hr/>
<span th:if="${#lists.size(personBooks) == 0}">
    <span th:text="'Person has no books.'"></span>
</span>
<span th:if="${#lists.size(personBooks) > 0}">
    <span th:text="'Books:'"></span>
    <div th:each="book : ${personBooks}" >
        <span th:text="${book.title + ', ' + book.author + ', ' + book.year}"
        style = "color: black;" th:style = "${book.isExpired} ? 'color:red':'color:black'" >
            book</span>
    </div>
</span>
<hr/>
<!--edit button, id we get from model-->
<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getPersonid()})}">
    <input type="submit" value="Edit person">
</form>
<!--DELETE request could be sent only from FORM-->
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPersonid()})}">
    <input type="submit" value="Delete!">
</form>

</body>
</html>