<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Edit book info</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getBookid()})}" th:object="${book}" >

	<label for="titleEdit">Title</label>
	<input type="text" th:field=*{title} id="titleEdit">
	<div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">title errors</div>
	<br/>
	<label for="authorEdit">Author</label>
	<input type="text" th:field=*{author} id="authorEdit" >
	<div style="color:rebeccapurple" th:if=${#fields.hasErrors('author')} th:errors="*{author}">author errors</div>
	<br/>
	<label for="yearEdit">Year</label>
	<input type="text" th:field=*{year} id="yearEdit">
	<div style="color: chocolate" th:if=${#fields.hasErrors('year')} th:errors="*{year}">year errors</div>
	<br/>
	<input type="submit" value="Update book">
</form>
</body>
</html>