<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Book</title>
</head>
<body>

<b th:text="${book.getTitle()+ ', ' +
    book.getAuthor() + ', ' + book.getYear() + ', ' + 'bookId: ' +
	book.getBookid()}">
	</b>
	<br/>
	<a th:href="@{/books/{bookid}/edit(bookid=${book.getBookid()})}">Edit book</a>
	<br/>
	<form th:method="DELETE" th:action="@{/books/{bookid}(bookid=${book.getBookid()})}">
		<input type="submit" value="Delete">
	</form>

</body>
</html>