<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Book</title>
</head>
<body>
<b th:text="${book.getTitle()+ ', ' +
    book.getAuthor() + ', ' + book.getYear() + ', ' + 'bookId: ' +
	book.getBookid()}">
	</b>
	<br/>
	<hr/>
	<!--form for choosing user for book-->
	<span th:if="${book.getOwner() == null}">
		<span>This book is free. Who want to take it?</span>
		<form th:method="PATCH" th:action="@{/books/addToPerson/{bookid}(bookid=${book.getBookid()})}">
		<label for="personList">Choose a person</label>
		<select th:object="${personX}" th:field=*{personid} id="personList">
			<option th:each="person : ${personList}" th:value="${person.getPersonid()}"
			        th:text="${person.getName()}"
			></option>
		</select>
		<input type="submit" value="Borrow book">
	</form>
	</span>
<!--button for freeing book-->
	<span th:if="${book.getOwner() != null}">
		<span th:text="'The person, who get the book: ' + ${owner.getName()}"></span>
		<form th:method="PATCH" th:action="@{/books/freeFromPerson/{bookid}(bookid=${book.getBookid()})}">
		<input type="submit" value="Free book">
	</form>
	</span>
	<hr/>
	<!--edit book button-->
	<form th:method="GET" th:action="@{/books/{bookid}/edit(bookid=${book.getBookid()})}">
		<input type="submit" value="Edit book">
	</form>
	<!--delete book butoon-->
	<form th:method="DELETE" th:action="@{/books/{bookid}(bookid=${book.getBookid()})}">
		<input type="submit" value="Delete">
	</form>

</body>
</html>