<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Create admin</title>
</head>
<body>
<!--form for the drop-down list, using PATCH request, to the address-->
<form th:method="PATCH" th:action="@{/admin/add}">
	<!--create label for list-->
	<label for="list_name">Choose someone</label>
		<!--select object Person from admin controller, and field "id" for the 'value'-->
		<select th:object="${person}" th:field="*{id}" id="list_name">
			<!--use foreach, for dinamic creation of list-->
			<option th:each="person : ${people}" th:value="${person.getId()}"
			th:text="${person.getName()}"></option> <!--what should be the name of list elements-->
		</select>
		<!--button for sending data to @/admin/add-->
		<input type="submit" value="Choose him!)"/>

</form>
</body>
</html>